/**
* Header button Styling
 * =================================
 * Styles relating to button (like mobile filter button) within header
 */

 .c-headerButton {
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 0;
    background: none;
    appearance: none;
    top: spacing(x2);
    text-align: right;
    right: spacing(x2);
    position: absolute;

    .is-sticky & {
        top: -45px;
    }
}

    .c-headerButton-icon {
        fill: $blue;
        width: 28px;
        height: 28px;
    }
