/**
 * Infobar Styling
 * =================================
 * A full page width bar that can contain information relevant to the page
 *
 * Examples of its use include the cookie banner and the langauge switcher banner
 */

.c-infoBar {
    width: 100%;
    background-color: $color-background-default;
    z-index: 99;

    &,
    & p,
    & .btn {
        @include font-size(body-s);
    }

    p {
        margin-top: 0;
    }

    a {
        color: $color-black;
    }

    & p > a {
        text-decoration: underline;
    }
}
    .c-infoBar-row {
        padding-top: spacing() * 0.5;
        padding-bottom: spacing() * 0.5;

        @include media('>=mid') {
            padding-top: spacing();
            padding-bottom: spacing();
        }
    }

    .c-infoBar-btn {
        float: right;
        margin-left: spacing();
    }

.c-infoBar--dark {
    background-color: $color-grey;

    &,
    a {
        color: $color-white;
    }

    .btn {
        color: initial;
    }
}

.c-infoBar--hideByDefault {
    max-height: 0;
    overflow: hidden;

    transition: all 1000ms ease-in-out;

    &.is-active {
        max-height: 200px;

        transition: 1s all ease-out 1.5s;
    }
}
