/**
 * Infobar Styling
 * =================================
 * A full page width bar that can contain information relevant to the page
 *
 * Examples of its use include the cookie banner and the langauge switcher banner
 */

 @use '../fozzie-config' as f;

.c-infoBar {
    width: 100%;
    background-color: f.$color-background-default;
    z-index: 99;

    &,
    & p,
    & .btn {
        @include f.font-size(body-s);
    }

    p {
        margin-top: 0;
    }

    a {
        color: f.$color-black;
    }

    & p > a {
        text-decoration: underline;
    }
}
    .c-infoBar-row {
        padding-top: f.spacing() * 0.5;
        padding-bottom: f.spacing() * 0.5;

        @include f.media('>=mid') {
            padding-top: f.spacing();
            padding-bottom: f.spacing();
        }
    }

    .c-infoBar-btn {
        float: right;
        margin-left: f.spacing();
    }

.c-infoBar--dark {
    background-color: f.$color-container-dark;

    &,
    a {
        color: f.$color-content-light;
    }

    .btn {
        color: initial;
    }
}

.c-infoBar--hideByDefault {
    max-height: 0;
    overflow: hidden;

    transition: all 1000ms ease-in-out;

    &.is-active {
        max-height: 200px;

        transition: 1s all ease-out 1.5s;
    }
}
