/**
 * Language Switcher Styling
 * =================================
 *
 */

$languageSwitcher-height: 34px;

.c-languageSwitcher {
    position: relative;
    display: block;
    color: $color-content-interactive-primary;
    padding: 8px 0;
    text-align: right;
}
    .c-languageSwitcher-action {
        font-weight: $font-weight-bold;
    }

    .c-languageSwitcher-icon {
        display: inline-block;
    }

    .c-languageSwitcher-countryCode {
        position: absolute;
        left: 14px;
        padding: 0 5px;
        border: 1px solid $color-white;
        border-radius: 1px;
        text-transform: uppercase;
    }
