/**
 * Logo Styling
 * =================================
 */

.c-logo {
    text-align: center;

    & > a {
        display: block;
        display: flex;
        justify-content: center;
        height: $header-height--narrow;
        padding-top: 18px;

        @include media('>=mid') {
            justify-content: left;
            height: $header-height;
            padding-top: 24px;
        }
    }
}
    .c-logo-img {
        // default logo image height and width (as should be an inline SVG)
        width: 128px;
        height: 25px;

        @include media('>=mid') {
            width: 165px;
            height: 32px;
        }
    }
