/**
 * Logo Styling
 * =================================
 */

 @use '../fozzie-config' as f;
 @use '../variables-common' as v;

$logo-color                 : f.$color-support-brand-01;
$logo-color--transparent    : f.$color-content-light;

.c-logo {
    text-align: center;

    & > a {
        display: flex;
        justify-content: center;
        height: v.$header-height--narrow;
        padding-top: 12px;

        @include f.media('>=mid') {
            justify-content: left;
            height: v.$header-height;
            padding-top: 20px;
        }
    }
}

.c-logo-img img,
.c-logo-img svg {
    // default logo image height and width (as should be an inline SVG)
    width: auto;
    height: 24px;
    margin-left: -10.5px; // half of hamburger menu width

    @include f.media('>=mid') {
        height: 40px;
        margin-left: 0;
    }
}
