/**
 * Logo Styling
 * =================================
 */

$logo-color                 : $brand--red;
$logo-color--transparent    : $white;


.c-logo {
    text-align: center;

    & > a {
        display: block;
        display: flex;
        justify-content: center;
        height: $header-height--narrow;
        padding-top: 22px;
        @if ($theme == 'ml') {
            padding-top: 12px;
        }

        @include media('>=mid') {
            justify-content: left;
            height: $header-height;
            padding-top: 24px;

            @if ($theme == 'ml') {
                padding-top: 10px;
            }
        }
    }
}

.c-logo-img img, .c-logo-img svg {
    // default logo image height and width (as should be an inline SVG)
    width: 82px;
    height: 16px;

    @include media('>=mid') {
        width: 165px;
        height: 32px;
    }

    @if ($theme == 'ml') {
        width: 120px;
        height: 32px;
        margin-left: -10.5px; // half of hamburger menu width


        @include media('>=mid') {
          width: 149px;
          height: 41px;
          margin-left: 0;
          margin-top: 6px;
        }
    }
}
