/**
 * Logo Styling
 * =================================
 */

$logo-color                 : $brand--red;
$logo-color--transparent    : $white;


.c-logo {
    text-align: center;

    & > a {
        display: block;
        display: flex;
        justify-content: center;
        height: $header-height--narrow;
        padding-top: 22px;

        @if ($theme == 'ml') {
            padding-top: 12px;
        }

        @include media('>=mid') {
            justify-content: left;
            height: $header-height;
            padding-top: 24px;

            @if ($theme == 'ml') {
                padding-top: 18px;
            }
        }
    }
}
    .c-logo-img {
        // default logo image height and width (as should be an inline SVG)
        width: 128px;
        height: 25px;

        @include media('>=mid') {
            width: 165px;
            height: 32px;
        }

         // Menulog logo, as it has multiple fill values built in. We just hide the outline on transparent mode.
        @if ($theme == 'ml') {
            width: 100px;
            height: 26px;

            @include media('>=mid') {
                width: 180px;
                height: 47px;
            }

            path:first-child {
                .c-header--transparent & {
                    display: none;
                }
            }
        }
    }
