/**
 * Logo Styling
 * =================================
 */

$logo-color                 : $brand--orange;
$logo-color--transparent    : $white;


.c-logo {
    text-align: center;

    & > a {
        display: block;
        display: flex;
        justify-content: center;
        height: $header-height--narrow;
        padding-top: 12px;

        @if ($theme == 'ml') {
            padding-top: 8px;
        }

        @include media('>=mid') {
            justify-content: left;
            height: $header-height;
            padding-top: 20px;

            @if ($theme == 'ml') {
                padding-top: 16px;
            }
        }
    }
}

.c-logo-img img,
.c-logo-img svg {
    // default logo image height and width (as should be an inline SVG)
    width: 98px;
    height: 24px;
    margin-left: -10.5px; // half of hamburger menu width

    @include media('>=mid') {
        width: 130px;
        height: 32px;
        margin-left: 0;
    }

    @if ($theme == 'ml') {
        width: 120px;
        height: 32px;

        @include media('>=mid') {
          width: 149px;
          height: 41px;
          margin-top: 6px;
        }
    }
}
