{{#if isMultiLingual}}
    {{#each alternativeLanguages as | lang |}}
        <li class="c-nav-list-item u-showAboveMid" data-test-id="languageToggle">
            <a href="{{ lang.returnUrl }}" class="c-nav-list-link">
                <span class="is-visuallyHidden">
                    {{#with ../this}}{{ i18n "language_switcher_accessibility" language=lang.name }}{{/with}}
                </span>
                {{#with ../this}}{{ i18n "language_switcher_name" language=lang.name }}{{/with}}
            </a>
        </li>
    {{/each}}
{{/if}}
