/**
 * f-header
 * =================================
 * Header Component for Just Eat projects
 *
 * This component allows a project to 'install' via a mixin the styles required
 * to show the Just Eat header at the top of their site or application.
 *
 * Documentation: tbc
 * Repo: https://github.com/justeat/f-header
 *
 * Index:
 * - Components Variables
 * - Imports
 *  - Colour palette
 *  - Partials
 * - Base Component styles
 *
 */

@import 'fozzie-colour-palette';
@import 'kickoff-utils'; // imports a set of helper functions and mixins – https://github.com/TryKickoff/kickoff-utils.scss
@import 'include-media'; // Cleaner media query declarations – http://include-media.com


/* stylelint-disable */
$breakpoints: ko-map-to-em((
    narrow   : 414px,    // narrow devices
    mid      : 768px,    // mid bp
    wide     : 1025px,   // wide bp
    huge     : 1280px    // huge bp
), 16); // set to 16 as this is default browser size
/* stylelint-enable */

$languageSwitcher-height          : 34px;

$header-height--narrow            : 56px;
$header-height                    : 76px;
$header-height--narrow--multiLang : $header-height--narrow + $languageSwitcher-height;
$header-bg                        : $white !default;
$header-separator                 : 4px;
$header-border-color              : $red !default;

@import 'partials/infoBar';
@import 'partials/languageSwitcher';
@import 'partials/logo';
@import 'partials/nav';
@import 'partials/skipTo';
@import 'partials/button';

.c-header {
    border-bottom: $header-separator solid $header-border-color;
    background-color: $header-bg;
    min-width : 300px;

    // when the off-screen navigation is active (on mobile), it fixes to the top of the screen.
    // this stops the content being forced upwards when this happens (preventing slight visual glitch)
    .is-navInView & {
        @include media('<mid') {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: zIndex(high);
        }
    }

    // Styles for a sticky header on mobile
    @include media('<mid') {
        &.is-sticky {
            left: 0;
            top: -60px;
        }

        &.is-sticky-scrollingUp {
            top: 0;
        }
    }
}
    .c-header-wrap {
        position: relative;
        min-height: $header-height--narrow;

        @include media('>=mid') {
            display: flex;
            min-height: $header-height;
        }
    }

